
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
form {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: 14px;
}

.content-body {
  width: 100%;
  justify-content: center;
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial;
  color: #2b2b2b;
}
.upload-form {
  width: 250px;
}
.video-list {
  width: 100%;
}
.videolist {
  border: 1px solid #dcdcdc;
}
.title {
  font-size: 15px;
}
form {
  border: 1px solid #dcdcdc;
  height: 200px;
  padding: 10px;
}
.label {
  margin-top: 20px;
}
input[type="submit"] {
  margin-top: 10px;
  border: 2px solid #cecece;
  background: #f9f9f9;
}


.video-item {
  font-size: 14px;
  color: #464646;
}
.videourl {
  font-size: 8px;
}
td {
  border-right: 1px solid #cecece;
  padding: 0px;
  margin: 0px;
}